header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    height: 150px;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}

nav {
    margin-right: 25px;
    margin-bottom: 0%;
}

nav a {
    margin: 10px;
}

.AboutME {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
}

.AboutME h1 {
    border-right: 5px solid black;
    min-height: 100px;
    margin-right: 2%;
    margin-left: 0%;
    padding-right: 0%;
}

.myimage {
    height: 400px;
    width: 300px;
    margin: 20px;
}

.Works {
    border-right: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.Works h1 {
    border-right: 5px solid black;
    min-height: 100px;
    margin-right: 5%;
    margin-left: 10%;
    padding-right: 3%;
}

.flex-div {
    /* display: flex; */
    background-color: grey;
    /* min-height: 100px; */
    /* max-height: 100px; */
    /* flex-basis: 35%; */
    border: 5px solid black;
    align-items: flex-end;


}

.refactor {
    /* flex-basis: 65%; */
    height: 500px;
    width: 600px;
    background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.myimage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
}





.HTML{
    height: 100px;
    width: 300px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/13060861/pexels-photo-13060861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.sub{
    display: flex;

}
    
